@media screen and (max-width: 480px)
{
  .halfSplitGrid
  {
    position:relative;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    padding:5% 5%;
  }
  .autoHalfSplitGrid
  {
    position:relative;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    padding:10% 5%;
  }
  .fourSplitGrid
  {
    position:relative;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    padding:5% 5%;
  }
  .autoThirdGrid
  {
    position:relative;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    padding:5% 5%;
  }
  .splitGrid2_2
  {
    display:grid;
    grid-gap: 5%;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    padding:1% 1%;
  }
  .threeFourthGrid
  {
    position:relative;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    padding:5% 5%;
  }
  .teacherCardsGrid{
    display: grid;
    grid-column-gap: 3%;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
  }
  .threetoTwoGrid
  {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    padding:5% 5%;
  }
  .twoToThreeGrid
  {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    padding:5% 5%;
  }
  .splitGrid3
  {
    display:grid;
    grid-gap: 5%;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    padding:1% 1%;
  }
  .splitGrid2by2
  {
    display:grid;
    grid-gap: 2%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%
    padding:1% 1%;
  }
  .clusterCardGrid
  {
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    padding:1% 1%;
  }
  .videoScrollGrid
  {
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 10% 10% 10% 10%;
    padding:2% 3%;
    grid-row-gap: 1%;
    grid-column-gap: 2%;
  }
  h1
  {
    font-size: 35px;
  }
  h2
  {
    font-size: 30px;
  }
  p{
    font-size: 16px;
    line-height: 20px;
  }
  #banner{
    height:100vh;
    padding-top:0%;
  }
  #item1, #item2, #item1a, #item2a, #item1b, #item2b{
    padding-top:0%;
  }
  #speakers img
  {
    width:200px;
    height:200px;
    padding-top:10px;
  }
  #sponsors img
  {
    width:200px;
    height:80px;
    padding-right:5px;
    padding-top:10px;
  }
  #whyJoin .splitGrid2_2 .benefitPartDescript
  {
    padding:1% 2%;
  }
  .benefitPart i
  {
    display:none;
  }
  .accordtimeline li {
  	display: inline-block;
  	width: 20%;
  	height: 50%;
    margin:0% 1%;
    margin-top: 40px;
    padding:7% 1%;
    color:var(--blue1);
  	background: var(--cream);
  	text-align:center;
    border-radius: 50px;
    font-size: 12px;
  }
  #banner .halfSplitGrid #item2 h1
  {
    font-size: 40px;
  }
  #banner .halfSplitGrid #item2 h2
  {
    font-size: 20px;
  }
  #APID-Dualbanner img
  {
    height:150px;
  }
  #scheduleBanner
  {
    height: 110vh;
  }
  #when
  {
    margin-top: 5%;
  }
  #when button
  {
    margin:5% auto;
  }
  .eventGrid
  {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
  }
  .card
  {
    width:100%;
    margin:5% auto;
    padding:5% 5%;
  }
  .type i
  {
    font-size:50px;
  }
  .type h2
  {
    font-size: 25px;
  }
  #workshopPBanner
  {
    height: 85vh;
  }
  #workshopPBanner img
  {
    margin-top:4%;
  }
  .splitGrid3
  {
    margin-top:3%;
    margin-bottom:3%;
  }
  .workshopCard
  {
    margin-top:-3%;
    margin-bottom:-3%;
  }
  #pDWorkshops
  {
    height:285vh;
  }
  #pDWorkshops .splitGrid3
  {
    padding:5% 4.5%;
    padding-left:2.5%;
    height:125vh;
  }
  #cDWorkshops .splitGrid3
  {
    padding:5% 4.5%;
    padding-left:2.5%;
    height:125vh;
  }
  #clusterCards .splitGrid2by2
  {
    grid-template-columns: 100%;
    grid-auto-rows: auto auto auto auto auto auto auto auto auto auto auto;
  }
  .smallWorkshopImg
  {
    width:120px;
    height:100px;
    border-radius: 80px;
  }
  .clusterCardGrid
  {
    grid-template-columns: 100%;
    grid-auto-rows: auto auto;
  }
  .clusterCardGrid h2
  {
    font-size: 20px;
  }
  .leadCCard
  {
    height:280px;
  }
  #clusterCards
  {
    height: 265vh;
  }
  #sponsorBanner
  {
    height: 20vh;
  }
  .spbenefits
  {
    height: 30vh;
  }
  #benefits
  {
    height:115vh;
  }
  #programBanner
  {
    height:15vh;
  }
  .page-content
  {
    grid-gap: 2rem 0.5rem;
    padding: 4rem 2rem;
  }
  #workshopWatchBanner
  {
    height:90vh;
  }
  #videoPlayer
  {
  width:100%;
  }
  #videoPlayer .placeholder
  {
    width:100%;
    height:100%;
  }
  .videoOverview
  {
    background:var(--cream);
    color: var(--blue1);
    padding: 25% 0%;
    width:100%;
    border:none;
    margin:20% 0%;
  }
  #commentChat
  {
    padding:2%;
    padding-bottom: 5%;
  }
  #commentChat h1
  {
    font-size:50px;
  }
  #commentChat li
  {
    font-size:14px;
  }
  #addComment input
  {
    width:110px;
  }
  #addComment span
  {
    background: var(--cream);
    font-weight: bolder;
    color:var(--blue1);
    font-size: 25px;
    padding: 1.5% 4%;
    padding-top:1.1%;
    padding-bottom: 1.5%;
    margin-left:2%;
  }
  .videocontent2 iframe
  {
    width:310px;
    height:250px;
  }
  #careerBanner
  {
    height:90vh;
  }
  .question button
  {
    padding:5px;
    font-size: 16px;
    width:250px;
    height:60px;
    margin:2% auto;
    color:var(--cream);
    border:none;
    border-radius: 10px;
    background: linear-gradient(to left, #72915e, var(--green1));
  }
  .hideMobile
  {
    display:None;
  }
  #contactBanner
  {
    position: relative;
    padding-top: 5%;
    width:100%;
    height:70vh;
    background: #fff;
    background-size: cover;
  }
  .contactCard
  {
    text-align: center;
    padding:5% 0%;
  }
  .contactImg
  {
    width:360px;
    height: 250px;
  }
  #trioContactInfo .autoThirdGrid
  {
    padding:5px;
  }
  #whatTSA h4
  {
    line-height: 28px;
  }
  .slides {
  	height: 50%;
    width:100%;
    border-radius: 10px;
    padding-bottom: 5%;
  }
  #officers .item
  {
    padding:2%;
  }
  .slides .slider
  {
  	height: 65vh;
  	white-space: nowrap;
  	font-size: 0;
  	transition: 0.8s;
  }
  .slidesimg
  {
    width:300px;
    height:300px;
  }
  .column123
  {
    float: left;
    width: 100%;
    padding: 1%;
  }
}
@media screen and (max-width: 768px)
{

}
