#careerBanner
{
  position: relative;
  width:100%;
  background: #fff;
  background-size: cover;
}
#programBannerHook
{
  padding-top:10%;
  padding-bottom:1%;
  text-align: center;
}
#programBanner .autoThirdGrid
{
  padding:10%;
}
#programBanner .halfSplitGrid div
{
  padding:2%;
}
.placeholderBckg
{
  width:100%;
}
#careerHook
{
  position: absolute;
  top:40%;
}



/*PERSONALITY*/
#test
{
  padding:5%;
}
.question
{
  padding:1%;
}
.question button
{
  padding:10px;
  font-size: 16px;
  width:250px;
  height:80px;
  color:var(--cream);
  border:none;
  border-radius: 10px;
  background: linear-gradient(to left, #72915e, var(--green1));
}
.question button:hover
{
  color:var(--cream);
  background: #72915e;
}
.question button:active
{
  color:var(--cream);
  background: black;
}
.question button:focus
{
  color:var(--cream);
  background: black;
}
.submitBtn
{
  background: var(--blue1);
  color: var(--cream);
  padding:1% 3%;
  margin:2% 1%;
  font-size: 18px;
  border-radius: 10px;
}
#result
{
  padding:5%;
  text-align:center;
  background: var(--blue1);
  color:var(--cream);
}
#result h1
{
  font-size: 80px;
}
