:root {
  --green1: #8bb174;
  --cream: #f6f4f5;
  --blue1: #33658a;
}
*
{
  margin: 0;
  padding:0;
  box-sizing:border-box;
  font-family: sans-serif;
}
body
{
  background:var(--cream);
  min-height: 200vh;
}
p
{
  line-height: 27px;
  font-size: 18px;
}
h1
{
  font-size: 40px;
}

#banner
{
  position: relative;
  width:100%;
  height:100vh;
  background: #fff;
  background-size: cover;
}
#banner .halfSplitGrid #item2 h1
{
  font-size: 60px;
  padding-bottom: 2%;
}
#banner .halfSplitGrid #item2 h2
{
  font-size: 35px;
  padding-bottom: 2%;
}
#banner .halfSplitGrid
{
  top:25vh;
  padding:0% 5%;
}
#counter{
  margin-bottom:auto;
  padding:3%;
  background: linear-gradient(#fff,var(--cream));
}
#counts{
  background:var(--blue1);
  margin:10%;
  padding: 10% 0%;
  text-align: center;
  font-family: sans-serif;
  color:var(--cream);
}
#counter .autoThirdGrid
{
  padding:0% 5%;
}
#countdown
{
  background: linear-gradient(#fff,var(--cream));
  margin-top:-5%;
  padding: 0% 5%;
}
#countdown h1
{
  font-size: 30px;
}
#schedule
{
  color:var(--cream);
  background: var(--blue1)
}
#schedule #item2a ul
{
  list-style:none;
}
#schedule #item2a li
{
  padding-top:0.5%;
  padding-bottom:0.5%;
  padding-left:5%;
  text-indent:-5%;
}
#schedule #item2a li::before
{
  content:"â°";
}
#schedule .halfSplitGrid
{
  padding:5% 5%;
}
#mtbiQuiz .halfSplitGrid
{
    padding:5% 5%;
}
#item1, #item2, #item1a, #item2a, #item1b, #item2b
{
  padding:5%;
}
#mtbiQuiz
{
  background: #fff;
}
#careers{
  padding:0% 0%;
  background: url("media/careers.jpeg");
  color:var(--cream);
}
#careers h1
{
  font-size:50px;
}
#careers p
{
  padding:1% 0%;
  padding-right: 10%;
  font-size:18px;
}
#careers .bckgOpacBox
{
  padding-bottom: 5%;
}
#quote
{
  background: linear-gradient(#fff, var(--cream));
  padding:5% 15%;
}
#quote p
{
  font-size:25px;
}
#speakers
{
  text-align: center;
  background: var(--blue1);
  padding:5%;
  color: var(--cream);
}
#speakers img
{
  width:70%;
  height:100%;
  border-radius: 100%;
}
#speakers h2
{
  padding-top:5%;
}
#sponsors
{
  text-align: center;
  background: var(--green1);
  padding:5%;
  color: var(--cream);
}
#sponsors img
{
  width:50%;
  margin-left: 25%;
  margin-right:25%;
  height:100%;
  border-radius: 100%;

}
#sponsors h2
{
  padding-top:5%;
  text-align: center;
}
#contact
{
  text-align: center;
  padding: 5%;
  padding-top: 5%;
  color:var(--blue1);
  background: var(--cream);
}
#contact ul {
  list-style: none;
  padding: 0;
}
#contact h4
{
  font-weight: normal;
}
#contact h1
{
  font-size: 45px;
  font-family: 'Kanit', sans-serif;
  font-weight: bolder;
  background: -webkit-linear-gradient(var(--blue1), #126eb3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top:0.5%;
}
#whatTSA, #whatCV
{
  background: var(--cream);
}
#officers
{
  background: var(--blue1);
  color: var(--cream);
}
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 3%;
  text-align: left;
}
.wrapper {
  box-shadow: 0px 5px 20px 5px var(--green1);
}
.contact-info {
  background: var(--green1);
}
.contact-info h3,
.contact-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
  color: var(--cream);
}
.contact {
  background: #c5deb6;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  color: #749460;
}
.contact form label {
  display: block;
  text-align: left;
}
.contact form p {
  margin: 0;
}
.contact form .full {
  grid-column: 1 / 3;
}
.contact form button,
.contact form input,
.contact form textarea {
  width: 100%;
  padding: 1em;
  border: solid 1px #627EDC;
  border-radius: 4px;
}
.contact form textarea {
  resize: none;
}
.contact form button {
  background: var(--green1);
  border: 0;
  color: var(--cream);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
.contact form button:hover,
.contact form button:focus {
  background: #6fb545;
  color: var(--cream);
  outline: 0;
  transition: background-color 2s ease-out;
}
@media only screen and (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .wrapper > * {
    padding: 2em;
  }
  .contact-info {
    border-radius: 4px 0 0 4px;
  }
  .contact {
    border-radius: 4px 4px 4px 4px;
  }
  .contact-info h3,
  .contact-info ul,
  {
    text-align: left;
  }
}
#ctebanner
{
  width:100%;
}
#cteVidOverlay
{
  top:50%;
  left:15%;
  right:15%;
  text-align: center;
}
#cteVidOverlay h1
{
  letter-spacing: 5px;
  font-size: 50px;
}
#cteVidOverlay h2
{
  letter-spacing: 5px;
  font-size: 30px;
}
#tsaimg
{
  width:100%;
}
#creed
{
padding:5%;
}
#teachers
{
  padding:5%;
  background: var(--blue1);
}
#teachers p
{
  font-size: 14px;
  line-height: 150%;
  padding: 5%;
}
#kofmehl, #kern, #ensminger{
  background: var(--cream);
  color: var(--blue1);
  width:100%;
  text-align: center;
  padding:15px;
}
#contactDescript
{
  text-align: center;
  padding:10% 20%;
  line-height: 250%;
  color: var(--blue1);
}
#contactDescript h1
{
  text-align: right;
  padding:2% 0%;
}
#about
{
  padding: 10%;
}
#contactBanner
{
  position: relative;
  padding-top: 5%;
  width:100%;
  height:100vh;
  background: #fff;
  background-size: cover;
}
#contactBanner .threetoTwoGrid div
{
  padding:5% 5%;
}

/*GRIDS*/
.halfSplitGrid
{
  position:relative;
  display:grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  padding:0% 10%;
}
.autoHalfSplitGrid
{
  position:relative;
  display:grid;
  grid-template-columns: auto auto;
  grid-template-rows: 100%;
  padding:10% 5%;
}
.fourSplitGrid
{
  position:relative;
  display:grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100%;
  padding:5% 5%;
}
.autoThirdGrid
{
  position:relative;
  display:grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  padding:5% 5%;
}
.splitGrid2_2
{
  display:grid;
  grid-gap: 5%;
  grid-template-columns: 50% 50%;
  padding:1% 1%;
}
.threeFourthGrid
{
  position:relative;
  display:grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: auto;
  padding:5% 5%;
}
.teacherCardsGrid{
  display: grid;
  grid-column-gap: 3%;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
}
.threetoTwoGrid
{
  display: grid;
  grid-template-columns: 60% 40%;
  padding:5% 5%;
}
.twoToThreeGrid
{
  display: grid;
  grid-template-columns: 40% 60%;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  padding:5% 5%;
}
.splitGrid3
{
  display:grid;
  grid-gap: 5%;
  grid-template-columns: 33% 34% 33%;
  padding:1% 1%;
}
.splitGrid2by2
{
  display:grid;
  grid-gap: 2%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%
  padding:1% 1%;
}
.clusterCardGrid
{
  display:grid;
  grid-template-columns: 30% 70%;
  padding:1% 1%;
}
/*CLASSES*/
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.bckgOpacBox
{
  background: rgba(139, 177, 116,0.8);
  padding:10%;
}
.blockquote
{
  border: 3px solid black;
  box-shadow: 12px 12px 2px 1px var(--blue1);
  padding:3% 10%;
}
.blockquoteAtrr
{
  text-align: right;
  padding-top:5%;
}
.placeholder
{
  width:100%;
  height:100%;
}
.placeholderbckg
{
  background: url("media/placeholder.png");
}
.counts
{
  background:var(--blue1);
  padding: 10% 0%;
  margin: 5% 10%;
  text-align: center;
  font-family: sans-serif;
  color:var(--cream);
  border-radius: 10px;
}
.text-shadow {
  color: #f4f4f4;
  text-shadow: -1px -1px white, 1px 1px gray, 2px 2px #7a7a7a, 3px 3px #757575, 4px 4px #707070, 5px 5px #6b6b6b, 6px 6px #666666, 7px 7px #616161, 8px 8px #5c5c5c, 9px 9px #575757, 10px 10px #525252, 11px 11px #4d4d4d, 18px 18px 30px rgba(0, 0, 0, 0.4), 18px 18px 10px rgba(0, 0, 0, 0.4);
}
.overlay
{
  position:absolute;
}
.item
{
  padding:10%;
}
.item2
{
  padding:10% 5%;

}
.slidesimg
{
  width:75%;
  height: 400px;
}
.registerbtn, .quizbtn, .agendabtn
{
  background: var(--green1);
  color:#fff;
  border-radius: 40px;
  padding: 3%;
  margin-top:5%;
}
.smallWorkshopImg
{
  width:80%;
  height:80%;
  border-radius: 80px;
}
.glassmorphism
{
  background: rgba( 255, 255, 255, 0.7 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.3 );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.1 );
}

/*SLIDESHOW*/
.slides {
	position: relative;
	overflow: hidden;
	height: 100%;
}
.slides .slider {
	height: 84vh;
	white-space: nowrap;
	font-size: 0;
	transition: 0.8s;
}
.slides .slider > * {
	font-size: 1rem;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	height: 100%;
	width: 100%;
	background: none 50% no-repeat;
	background-size: cover;
}
.slides .prevNext {
	position: absolute;
	z-index: 1;
	top: 50%;
	width: 100%;
	height: 0;
}

.slides .prevNext > div+div {
	visibility: hidden;
}

.slides .prevNext a {
	background: #fff;
	position: absolute;
	width:       60px;
	height:      60px;
	line-height: 60px;
	opacity: 0.7;
	-webkit-transition: 0.3s;
					transition: 0.3s;
	-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
	left: 0;
}
.slides .prevNext a:hover {
	opacity: 1;
}
.slides .prevNext a+a {
	left: auto;
	right: 0;
}
.slides .bullets {
	position: absolute;
	z-index: 2;
	bottom: 0;
	padding: 10px 0;
	width: 100%;
	text-align: center;
}
.slides .bullets > a {
	display: inline-block;
	width:       30px;
	height:      30px;
	line-height: 30px;
	text-decoration: none;
	text-align: center;
	background: rgba(255, 255, 255, 1);
	-webkit-transition: 0.3s;
					transition: 0.3s;
}
.slides .bullets > a+a {
	background: rgba(255, 255, 255, 0.5);
}
.slides .bullets > a:hover {
	background: rgba(255, 255, 255, 0.7) !important;
}
.slides >s:target ~ .bullets >* {      background: rgba(255, 255, 255, 0.5);}
#s1:target ~ .bullets >*:nth-child(1) {background: rgba(255, 255, 255,   1);}
#s2:target ~ .bullets >*:nth-child(2) {background: rgba(255, 255, 255,   1);}
#s3:target ~ .bullets >*:nth-child(3) {background: rgba(255, 255, 255,   1);}
#s4:target ~ .bullets >*:nth-child(4) {background: rgba(255, 255, 255,   1);}
#s5:target ~ .bullets >*:nth-child(5) {background: rgba(255, 255, 255,   1);}
#s6:target ~ .bullets >*:nth-child(6) {background: rgba(255, 255, 255,   1);}
#s7:target ~ .bullets >*:nth-child(7) {background: rgba(255, 255, 255,   1);}
#s8:target ~ .bullets >*:nth-child(8) {background: rgba(255, 255, 255,   1);}
.slides >s:target ~ .prevNext >* {      visibility: hidden;}
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}
#s5:target ~ .prevNext >*:nth-child(5) {visibility: visible;}
#s6:target ~ .prevNext >*:nth-child(6) {visibility: visible;}
#s7:target ~ .prevNext >*:nth-child(7) {visibility: visible;}
#s8:target ~ .prevNext >*:nth-child(8) {visibility: visible;}
#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
#s5:target ~ .slider {transform: translateX(-400%); -webkit-transform: translateX(-400%);}
#s6:target ~ .slider {transform: translateX(-500%); -webkit-transform: translateX(-500%);}
#s7:target ~ .slider {transform: translateX(-600%); -webkit-transform: translateX(-600%);}
#s8:target ~ .slider {transform: translateX(-700%); -webkit-transform: translateX(-700%);}

.slides{
	color: #fff;
	text-align: center;
}
.slides .slider h2 {
	margin-top: 40vh;
	font-weight: 200;
	letter-spacing: -0.06em;
	word-spacing: 0.2em;
	font-size: 3em;
}
.slides a {
	border-radius: 50%;
	margin: 0 3px;
	color: rgba(0,0,0,0.8);
	text-decoration: none;
}
/*FOOTER*/
footer
{
  background:var(--blue1);
  color: var(--cream);
  padding:1%;
  font-family: sans-serif;
  letter-spacing: 2px;
  text-align: center;
}
footer .fourSplitGrid ul
{
  list-style: none;
}
footer .fourSplitGrid ul li
{
  padding: 0.5% 0%;
}


/*PATHWAYS*/
#pathways
{
  padding-left:5%;
  padding-bottom:2%;
  padding-right:5%;
  padding-top:2%;
  margin-top:0;
  background:var(--cream);
}
.accordion {
  background-color: var(--cream);
  color: var(--blue1);
  cursor: pointer;
  padding: 1%;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: 0.4s;
  font-family: sans-serif;
}

.active, .accordion:hover {
  background-color: var(--blue1);
  color:white;
}
.panel {
  background-color: var(--blue1);
  max-height: 0;
  width:100%;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: var(--cream);
}

.policy{
  display:flex;
  align-items:center;
}
.policy h4{
  padding: 5px;
}
.contactbox{
  background: #fff;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 0 5px 5px #8bb174;
}
.contactbox h2{
  color:#33658a;
  font-size: 30px;
  font-weight: 200;
  border-bottom-style: solid;
  border-color:#333;
  border-bottom-width: 5px;
  padding: 2px;
  padding-bottom: 1%;
}
.buttonForSocialMedia{
  background-color: var(--green1);
  border: none;
  color: var(--cream);
  padding: 10px;
  text-align: center;
  font-size: 24px;
  border-radius: 12px;
}

.buttonForSocialMedia:hover{
  opacity: 0.85;
}

.flipCard{
  background-color: transparent;
  width: relative;
  height: 300px;
  perspective: 10000000000px;
  padding: 4%;
}

.flipCardInside{
  position: relative;
  width: relative;
  height: 300px;
  text-align: center;
  transition: transform 1.5s;
  transform-style: preserve-3d;
  box-shadow: 0px 5px 20px 5px var(--green1);
}

.flipCard:hover .flipCardInside{
  transform: rotateY(180deg);
}

.flipCardFront{
  background-color: var(--blue1);
  color: var(--cream);
  transform: rotateY(0deg)
}

.flipCardBack{
  background-color: var(--blue1);
  color: var(--cream);
  transform: rotateY(180deg)
}

.flipCardFront, .flipCardBack{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

#smallbanner{
  position: relative;
  width:100%;
  height:20vh;
  background: #fff;
  background-size: cover;
}

#bigbanner{
  position: relative;
  width:100%;
  height: 280vh;
  background: #fff;
  background-size: cover;
}

#APID-Dualbanner{
  position: relative;
  width:100%;
  height: 160vh;
  background: #fff;
  background-size: cover;
}

#tsapicsBanner{
  position: relative;
  width:100%;
  height: 115vh;
  background: var(--blue1);
  background-size: cover;
}

#timelineBanner{
  position: relative;
  width:100%;
  height: relative;
  background: var(--cream);
}

.timeLineBox{
  box-shadow: rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.17) 0px 12px 13px;
  border-radius: 20px;
  margin: 10px;
  height: 100%;
  width: 50%;
  margin-left: 25%;
  text-align:center;
  padding: 20px;
}
.timeLineLine{
  border-right: 6px dotted var(--green1);
  height: 100px;
  margin-right: 49%;
  margin-bottom: 10px;
}
