:root {
  --green: #8bb174;
  --cream: #f6f4f5;
  --blue: #33658a;
}
*
{
  margin: 0;
  padding:0;
  box-sizing:border-box;
  font-family: sans-serif;
}
body
{
  background:var(--cream);
  min-height: 200vh;
}
header
{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items:center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index:1000000;
}
header.sticky
{
  padding: 5px 100px;
  background:#000;
}
header .logo
{
  position: relative;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  font-size:2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}
header ul
{
  position:relative;
  display:flex;
  justify-content: center;
  align-items:center;
}
header ul li
{
  position: relative;
  list-style:none;
}
header ul li a
{
  position: relative;
  margin:0 15px;
  text-decoration: none;
  color:#000;
  letter-spacing:2px;
  font-weight: 500px;
  transition:0.6s;

}
.banner
{
  position: relative;
  width:100%;
  height:100vh;
  background: #fff;
  background-size: cover;
}
header.sticky .logo,
header.sticky ul li a
{
  color: white;
}
.banner .halfSplitGrid #item2 h1
{
  font-size: 60px;
  padding-bottom: 2%;
}
.banner .halfSplitGrid #item2 h2
{
  font-size: 35px;
  padding-bottom: 2%;
}
.banner .halfSplitGrid
{
  top:25vh;
  padding:0% 5%;
}
#item1, #item2
{
  padding:5%;
}
#item1a, #item2a
{
  padding:5%;
}
.schedule
{
  color:var(--cream);
  background: var(--blue)
}
.schedule #item2a ul
{
  list-style:none;
}
.schedule #item2a li
{
  padding-top:0.5%;
  padding-bottom:0.5%;
  padding-left:5%;
  text-indent:-5%;
}
.schedule #item2a li::before
{
  content:"â°";
}
.schedule .halfSplitGrid
{
  padding:5% 5%;
}
.placeholder
{
  width:100%;
  height:100%;
}
.mtbiQuiz .halfSplitGrid
{
    padding:5% 5%;
}
#item1b, #item2b
{
  padding:5%;
}
.mtbiQuiz
{
  background: #fff;
}
.careers{
  padding:7% 5%;
  background: url("media/careersPLACEHOLDER.jpeg");
}
.careers h1
{
  font-size:50px;
}
.careers p
{
  padding:1% 0%;
}
.quote
{
  background: linear-gradient(#fff, var(--cream));
  padding:5% 5%;
}
.blockquote
{
  border: 3px solid black;
  box-shadow: 12px 12px 2px 1px var(--blue);
  padding:3% 10%;
}
.quote p
{
  font-size:25px;
}
.bckgOpacBox
{
  background: rgba(255,255,255,0.5);
  padding:5%;
}
.watch
{
  background: url("media/auditorium.jpeg");
  background-position: center;
  height:100vh;
  width: 100%;
}
.watch h1
{
  text-align: center;
  font-size: 50px;
}
#counter{
  margin-bottom:auto;
  padding:3%;
  background: linear-gradient(#fff,var(--cream));
}
#counts{
  background:var(--blue);
  margin:10%;
  padding: 10% 0%;
  text-align: center;
  font-family: sans-serif;
  color:var(--cream);
}
#counter .autoThirdGrid
{
  padding:0% 5%;
}
#countdown
{
  background: linear-gradient(#fff,var(--cream));
  margin-top:-5%;
  padding: 0% 5%;
}
#countdown h1
{
  font-size: 30px;
}
.counts
{
  background:var(--blue);
  padding: 10% 0%;
  margin: 5% 10%;
  text-align: center;
  font-family: sans-serif;
  color:var(--cream);
  border-radius: 10px;
}

/*CONTACT*/
#contact
{
  text-align: center;
  padding: 5%;
  padding-top: 5%;
  color:var(--blue);
  background: var(--cream);
}
#contact ul {
  list-style: none;
  padding: 0;
}
#contact h4
{
  font-weight: normal;
}
#contact h1
{
  font-size: 45px;
  font-family: 'Kanit', sans-serif;
  font-weight: bolder;
  background: -webkit-linear-gradient(var(--blue), #126eb3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -1px;
  padding-top:0.5%;
}
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 3%;
  text-align: left;
}
.wrapper {
  box-shadow: 0px 5px 20px 5px var(--green);
}
.contact-info {
  background: var(--green);
}
.contact-info h3,
.contact-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
  color: var(--cream);
}
.contact {
  background: #c5deb6;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  color: #749460;
}
.contact form label {
  display: block;
  text-align: left;
}
.contact form p {
  margin: 0;
}
.contact form .full {
  grid-column: 1 / 3;
}
.contact form button,
.contact form input,
.contact form textarea {
  width: 100%;
  padding: 1em;
  border: solid 1px #627EDC;
  border-radius: 4px;
}
.contact form textarea {
  resize: none;
}
.contact form button {
  background: var(--green);
  border: 0;
  color: var(--cream);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
.contact form button:hover,
.contact form button:focus {
  background: #6fb545;
  color: var(--cream);
  outline: 0;
  transition: background-color 2s ease-out;
}
@media only screen and (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .wrapper > * {
    padding: 2em;
  }
  .contact-info {
    border-radius: 4px 0 0 4px;
  }
  .contact {
    border-radius: 4px 4px 4px 4px;
  }
  .contact-info h3,
  .contact-info ul,
  {
    text-align: left;
  }
}


.menu-btn {
   background-color: #fff;
   color: #000;
   padding: 16px;
   font-size: 18px;
   letter-spacing:2px;
   font-weight: 500px;
   font-family: sans-serif;
   border: none;
}
.dropdown-menu {
   position: relative;
   display: inline-block;
}
.menu-content {
   display: none;
   position: absolute;
   background-color: pink;
   min-width: 160px;
   z-index: 1;
   padding-top: 2%;
   padding-bottom: 2%;
}
.links,.links-hidden{
   display: inline-block;
   color: rgb(255, 255, 255);
   padding: 10px 16px;
   text-decoration: none;
   font-size: 16px;
   font-weight: bold;
}
.links-hidden{
   display: block;
}
.links{
   display: inline-block;
}
.links-hidden:hover,.links:hover {
   background-color: black;
}
.dropdown-menu:hover .menu-content {
   display: block;
}
.dropdown-menu:hover .menu-btn {
   background-color: #000;
   color:#fff;
}



/*GRIDS*/
.halfSplitGrid
{
  position:relative;
  display:grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  padding:0% 10%;
}
.autoHalfSplitGrid
{
  position:relative;
  display:grid;
  grid-template-columns: auto auto;
  grid-template-rows: 100%;
  padding:10% 5%;
}
.fourSplitGrid
{
  position:relative;
  display:grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100%;
  padding:5% 5%;
}
.auditThirdsGrid
{
  position:relative;
  display:grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 100%;
  padding:5% 5%;
}
.autoThirdGrid
{
  position:relative;
  display:grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  padding:5% 5%;
}

/*GROW-SHADOW*/
hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/*Countdown*/

/*FOOTER*/
footer
{
  background:var(--blue);
  color: var(--cream);
  padding:1%;
  font-family: sans-serif;
  letter-spacing: 2px;
  text-align: center;
}
footer .fourSplitGrid ul
{
  list-style: none;
}
footer .fourSplitGrid ul li
{
  padding: 0.5% 0%;
}
