#workshopWatchBanner
{
  position: relative;
  width:100%;
  height:100vh;
  background: #fff;
  background-size: cover;
}
#workshopWatchBannerHook
{
  padding-top:20%;
  padding-bottom:1%;
}
#watchCareerQuiz .threeFourthGrid
{
  padding:0;
}
#watchCareerQuizDescript
{
  padding:10%;
}
#personalDevelopment
{
  background: var(--cream);
  padding: 5% 0%;
  position: relative;
  width:100%;
  height:100vh;
}
#careerExploration
{
  background: var(--cream);
  padding: 5% 0%;
  position: relative;
  width:100%;
  height:100vh;
}
#keynoteWatchBanner
{
  position: relative;
  width:100%;
  height:100vh;
  background: #fff;
  background-size: cover;
}
#keynoteWatchBannerHook
{
  padding-top:20%;
  padding-bottom:1%;
}
.workshopVid
{
  width: 100%;
  height:100%;
}
.library
{
  align-items: center;
  padding:0%;
}
.library2
{
  align-items: center;
  padding:0%;
}
.library__container
{
  align-items: center;
  background-color: var(--blue1);
  z-index: 1;
  width: 100%;
}
.library2__container
{
  align-items: center;
  background-color: var(--blue1);
  z-index: 1;
  width: 100%;
}
.library__btn
{
  justify-content: center;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.35s;
  outline: none;
}
.library2__btn
{
  justify-content: center;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.35s;
  outline: none;
}
.library__btn a {
  position: relative;
  z-index: 2;
  text-decoration: none;
}
.library2__btn a {
  position: relative;
  z-index: 2;
  text-decoration: none;
}
.library__btn:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in;
  cursor: pointer;
}
.library__btn:hover:after {
  width: 100%;
}
.library2__btn:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in;
  cursor: pointer;
}
.library2__btn:hover:after {
  width: 100%;
}
.video {
  float: left;
  border: 1px solid #ccc;
  background-color: var(--blue1);
  width: 30%;
  height: 100%;
}
.video button {
  display: block;
  background-color: var(--blue1);
  color: white;
  padding: 4% 5%;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}
.video button:hover {
  background-color: var(--green1);
  color: var(--cream);
}
.video button.active {
  background-color: var(--green1);
  color: var(--cream);
}
.videocontent {
  float: left;
  padding: 0% 3%;
  border: 1px solid var(--cream);
  width: 70%;
  border-left: none;
  height: 100%;
  background-color: var(--blue1);
}
.video2 {
  float: left;
  border: 1px solid #ccc;
  background-color: var(--blue1);
  width: 30%;
  height: 100%;
}
.video2 button {
  display: block;
  background-color: var(--blue1);
  color: white;
  padding: 4% 5%;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}
.video2 button:hover {
  background-color: var(--green1);
  color: var(--cream);
}
.video2 button.active {
  background-color: var(--green1);
  color: var(--cream);
}
.videocontent2 {
  float: left;
  padding: 1% 3%;
  width: 70%;
  border-left: none;
  background-color: var(--blue1);
}

.videoLibraryWorkshop h1
{
  padding:3% 5%;
  padding-top: 0%;
  font-size: 50px;
}
