#programanner
{
  position: relative;
  width:100%;
  height:100vh;
  background: #fff;
  background-size: cover;
}
#programBannerHook
{
  padding-top:10%;
  padding-bottom:1%;
  text-align: center;
}
#programBanner .autoThirdGrid
{
  padding:10%;
}
#programBanner .halfSplitGrid div
{
  padding:2%;
}
#speakersGrid .autoThirdGrid div,
#sponsorsGrid .autoThirdGrid div
{
  text-align:center;
  padding:1%;
}
.speaker
{
  width:70%;
  height:100%;
}
.show
{
  display: block;
}
